# /server/requirements.txt

fastapi
uvicorn[standard]
SQLAlchemy>=2.0
alembic
psycopg2-binary
python-dotenv
pydantic>=2.0
pydantic-settings
httpx

uvicorn[standard]
asyncpg
redis
sqlalchemy
alembic

# Зависимости для БД, паролей и токенов
python-dotenv
pydantic[email]
passlib[bcrypt]
bcrypt==4.0.1 # <-- ИСПРАВЛЕНИЕ: Указываем совместимую версию
python-jose[cryptography]

# Зависимость для обработки форм
python-multipart
google-generativeai

# Мониторинг ошибок
sentry-sdk